.title-tech{

    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 5%;
}

.title-tech h1{

    text-transform: uppercase;
}

.learn-tech{

    margin: 2%;
    font-size: 12px;
    text-transform: capitalize;
}

.tech-desc p{


    margin: 2%;
}

.three-tech{

    display: flex;
    align-items:center ;
    justify-content: center;
    margin-bottom: 5%;
}
.palm , .hammeron , .vibrato{

    width: 450px;
    height: 450px;
    cursor: pointer;
   margin: 2%;
}



.image-div {

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5%;
}
.image-div img {

    border-radius: 1rem;
    width: 400px;
    height: 400px;

}

.image-div img {
    width: 400px; /* Set your normal width */
    height: 400px; /* Set your normal height */
    transition: all 0.3s ease-in-out;
}

.image-div img:hover {
    width: 415px;
    height: 415px;
     border: 1px ;
 
  box-shadow: 5px 10px #654BFF;
    transform: scale(1);
}

.image-div img:active {
    width: 300px; /* Set the normal width for the active state */
    height: 300px; /* Set the normal height for the active state */
    transform: scale(1);
   
}


.texxttt{

    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    
}