.hero-image {
  width: 100%;
  height: 600px;
  background-color: rgb(5, 5, 5);
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../palmmute/image/hammeron.jpg");
}

.hammer-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hammer-title h1 {
  font-size: 4vw;
  color: #ffffff;
  padding: 10%;
  font-weight: 500;
}

.title-ham1 {
  margin: 2%;
}

.left-first {
  width: 50%;
}

.left-first2 {
  width: 50%;
}

.right-second2 {
  width: 50%;
}

.right-second2 img {
  width: 100%;
}

.right-second img {
  width: 150%;
}

.first-parent {
  margin: 5%;
  align-items: center;
  display: flex;
}

.title-two {
  margin-left: 20%;
}


.prac-tabs{
    margin: 5%;
}
.prac-tabimage{
    display: flex;
    align-items: center;
    justify-content: center;
}
.prac-tabimage img {

    width: 50%;
}

.prac-tabvid iframe{

    width: 100%;
    height: 800px;
}

.hammeron-title h1{

    display: flex;
    align-items: center;
    justify-content: center;
    
    text-transform: uppercase;
    margin: 2%;
}

.hammer-desc {

    text-align: center;
   padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vibrato-title{

    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    margin-top: 2%;
}

.vibrato-desc{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2%;
}


.step-parent{

    display: flex;
    align-items: center;
    justify-content: center;
}

.left-step{
    padding-top: 10%;
    align-items: center;
}
.left-step , .right-step{
    width: 700px;
    height: 500px;
    margin: 5%;


}

.right-step img{
    width: 700px;
    height: 500px;
}